<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/allUsers.css">
    <title>Student List</title>
</head>

<body>

    <section class="student-list">
        <h1>Student List</h1>
        <div class="students-container">
            <% users.forEach(user=> {%>
                <div class="student-card">
                    <a class="student-name"href="#" style="text-decoration: none;"><%=user.name%></a>
                    <div class="student-info">Email: <%=user.email%><br>Grade: <%=user.currentResult[0]%></div>
                </div>
                <%})%>


        </div>
    </section>

</body>

</html>