<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/general.css">
    <title>Quiz App</title>
</head>
<body>

<header>
    <!-- <div class="logo">Quiz App</div>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav> -->
    <%- include("partials/header"); -%>
</header>

<section class="hero">
    <h1>Welcome to the Quiz App</h1>
    <p>Test your knowledge with fun quizzes!</p>

    <% if(admin || user){%>
        <div class="buttons">
            <a class="cta-button" style="text-decoration: none;" href="/api/v1/logout-user">Logout</a>
            <a class="cta-button">Your Dashboard</a>
            <!-- <button class="cta-button">Admin Login</button> -->
        </div>
    <%}else{%>
        <div class="buttons">
            <a class="cta-button" style="text-decoration: none;" href="/api/v1/signup-user">Register</a>
            <a class="cta-button" style="text-decoration: none;" href="/api/v1/login-user">User Login</a>
            <a class="cta-button" style="text-decoration: none;" href="/api/v1/login-admin">Admin Login</a>
        </div>

    <%}%> 
    
</section>
<footer>
    <%- include("partials/footer"); -%>
</footer>
<script src="script.js"></script>
</body>
</html>