<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/general.css">
    <title>Quiz App</title>
</head>
<body>

<header>
    <!-- <div class="logo">Quiz App</div>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav> -->
    <%- include("partials/header"); -%>
</header>

<section class="hero">
    <h1>Welcome to the Quiz App</h1>
    <p>Test your knowledge with fun quizzes!</p>
    <div class="buttons">
        <button class="cta-button">Register</button>
        <button class="cta-button">User Login</button>
        <button class="cta-button">Admin Login</button>
    </div>
</section>
<footer>
    <%- include("partials/footer"); -%>
</footer>
<script src="script.js"></script>
</body>
</html>