<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userResult.css">
    <title>Quiz Result</title>
</head>
<body>

<section class="result-sheet">
    <h1>Quiz Result</h1>
    
    <div class="result-box">
       
        <% if( score > 50 && score < 75){%>
            <h2>You performed good but you can do better <%=user.name%></h2>
        <%}else if(score > 75){%>
            <h2>Your performed excellently <%=user.name%> keep it up</h2>
        <%}else{%>
            <h2>You performed poorly try again <%=user.name%></h2>
        <%}%>
            
        <p>Your Score: <span class="score"><%=score%>%</span></p>
    </div>

</section>

</body>
</html>