<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/uploadQA.css">
    <title>Quiz Display</title>
</head>
<body>

<header>
    <div class="logo">Quiz Display</div>
</header>

<section class="form-section">
    <form id="quizDisplayForm">
        <div id="questionsContainer"></div>
        <button type="submit">Submit Answers</button>
    </form>
</section>

<script src="/js/viewQA.js"></script>
</body>
</html>